{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static "/style.css" %}" type="text/css">
		<title>Список лиц допущенных до управления шлагбаумом</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Номер</th>
					<th>Имя</th>
					<th>Фамилия</th>
					<th>кол-во проездов</th>
					<th>Время С</th>
					<th>Время До</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<form method="POST">
                	{% csrf_token %}
					<td>{{edit_form.phone_number}}</td>
					<td>{{edit_form.firstname}}</td>
					<td>{{edit_form.lastname}}</td>
					<td>{{edit_form.entry_counter}}</td>
					<td>{{edit_form.start_time}}</td>
					<td>{{edit_form.end_time}}</td>
					<td><button type="submit" name='update_user'>Изменить</button></td>
					</form>
				</tr>
			</tbody>
		</table>
<!--		<table>-->
<!--			<form method="POST">-->
<!--            {% csrf_token %}-->
<!--			{{edit_form.phone_number}}-->
<!--			<td><button type="submit" name='update_user'>Изменить</button></td>-->
<!--			</form>-->
<!--		</table>-->
	</body>
</html>